.help-bubble-container {
  position: fixed;
  bottom: 50px; /* Distance from the bottom of the viewport */
  left: 20px; /* Distance from the left of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between bubbles */
  background-color: none;
  z-index: 10; /* Ensure the container is above other content */
}

.help-bubble {
  font-size: 30px; /* Adjust size for screen adjustment bubbles */
  color: #333; /* Adjust color as needed */
  cursor: pointer;
}

/* Remove the animation for the screen adjustment bubbles */
.help-bubble:hover {
  transform: none;
}

/* Specific styles for each bubble */
.help-bubble-help {
  background-image: none; /* Ensure no background image for the help icon */
}

.help-bubble-fullscreen {
  color: #1C4690; /* Full screen icon color */
}

.help-bubble-exit-fullscreen {
  color: #e76f51; /* Exit fullscreen icon color */
}

/* Fullscreen and Exit Fullscreen specific styles */
.help-bubble-fullscreen:hover {
  color: #0056b3; /* Hover color for fullscreen icon */
}

.help-bubble-exit-fullscreen:hover {
  color: #cc4b37; /* Hover color for exit fullscreen icon */
}

.help-bubble-tooltip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 9999;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.help-bubble-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  pointer-events: auto;
}

.help-bubble-modal-content {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.help-bubble-modal-content p {
  margin: 0;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

.help-bubble-tooltip p {
  color: black;
}
